---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: "Restart registry@{{ registry_name }}"
  ansible.builtin.systemd:
    name: registry@{{ registry_name }}
    state: restarted
